<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartbizz">

    <uses-sdk tools:overrideLibrary="com.android.support:appcompat" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".MainActivity"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:node="replace"
        tools:replace="android:allowBackup,android:icon,android:label,android:theme,android:fullBackupContent,android:roundIcon,android:name">

        <!--Needed for Pie Device-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".newUI.newViews.EditProfile"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".newUI.newViews.SplashScreen"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".newUI.newViews.LoginActivity"
            android:screenOrientation="portrait">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".newUI.newViews.VerifyOTPActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".newUI.newViews.Language"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity
            android:name=".newUI.newViews.DashboardActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".newUI.newViews.DesignActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->

<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
        </activity>
        <activity
            android:name=".newUI.newViews.ContactUs"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".newUI.newViews.BannerActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".newUI.newViews.ContactsPickerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".newUI.newViews.SMSTabActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".newUI.newViews.SMSBalanceActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".newUI.newViews.SMSReportActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".newUI.newViews.BrandDesigningActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
            <intent-filter
                android:label="@string/app_intent_name"
                android:scheme="file"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smartbizz.newUI.newViews.WebViewSMSService"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.smartbizz.newUI.newViews.WebAdvSiteActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.smartbizz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>